@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

.nav_bar {
  height: 15vh;
  width: 100%;
  background-color: #FFBF00;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav_bar .brand {
  text-decoration: underline;
}
.nav_bar .brand span {
  color: white;
}
.nav_bar .nav_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 15px;
  font-size: 1.2rem;
}
.nav_bar .nav_menu a {
  text-decoration: none;
  padding: 0 10px;
  border-radius: 5px;
  color: #000;
}
.nav_bar .nav_menu a:hover {
  background-color: #E89B0C;
  visibility: visible;
  transform: scaleX(1);
}

.nav_toggle {
  cursor: pointer;
  display: none;
}

.nav_toggle div {
  width: 32px;
  height: 4px;
  margin-top: 8px;
  border-radius: 5px;
  background-color: #000;
}

.main_section {
  width: 60%;
  margin: auto;
  display: flex;
}
.main_section .container_post {
  width: 70%;
}
.main_section .container_post p {
  width: 80%;
  text-align: justify;
  font-size: 1.2em;
}
.main_section .container_post .main_post {
  margin-top: 20px;
}
.main_section .container_post .main_post h1 {
  border-bottom: 2px solid #b2bec3;
  width: 60%;
}
.main_section .container_post .main_post a {
  text-decoration: none;
  color: #E89B0C;
  font-size: 1.2em;
}
.main_section .right_side {
  background-color: rgba(228, 225, 225, 0.4705882353);
  height: 60vh;
  margin-top: 50px;
  -webkit-box-shadow: 2px 8px 18px 1px #797676;
  box-shadow: 0px 2px 14px 1px #797676;
}
.main_section .right_side .side_noticias, .main_section .right_side .side_categorias {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_section .right_side .side_noticias h2 {
  border-bottom: 2px solid #b2bec3;
  width: 50%;
  text-align: center;
}
.main_section .right_side .side_noticias p {
  width: 90%;
}
.main_section .right_side .side_noticias p a {
  text-decoration: none;
  color: #E89B0C;
  font-size: 1.2em;
}
.main_section .right_side .side_categorias h2 {
  border-bottom: 2px solid #b2bec3;
  width: 50%;
  text-align: center;
}
.main_section .right_side .side_categorias ul {
  list-style: none;
  width: 100%;
}
.main_section .right_side .side_categorias li {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #E6AC00;
}
.main_section .right_side .side_categorias a {
  text-decoration: none;
  color: #000;
  font-size: 1.5em;
}

footer {
  height: 8vh;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  align-items: center;
  background-color: rgba(228, 225, 225, 0.4705882353);
}

@media screen and (max-width: 768px) {
  .nav_menu {
    flex-direction: column;
    position: absolute;
    top: 14vh;
    right: 0;
    width: 100%;
    height: 0;
    visibility: hidden;
    background-color: #FFBF00;
    transition: 0.4s ease-in-out;
    overflow: hidden;
  }
  .nav_menu li {
    border-bottom: 2px solid #E6AC00;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 0.4em;
  }
  .nav_toggle {
    display: block;
  }
  .menu_open {
    visibility: visible;
    height: 32vh;
  }
  .main_section {
    width: 100%;
  }
  .main_section .container_post {
    width: 100%;
  }
  .main_section .main_post {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .main_section .main_post h1 {
    text-align: center;
  }
  .main_section .main_post p {
    width: 90%;
    text-align: justify;
  }
  .main_section .main_post img {
    width: 100%;
  }
  .right_side {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
