@use '_variaveis'
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400&family=Roboto&display=swap')

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Cairo', sans-serif

.nav_bar
    height: 15vh
    width: 100%
    background-color: variaveis.$main_color
    display: flex
    justify-content: space-around
    align-items: center
    .brand
        text-decoration: underline
        h1
        span
            color: white
    .nav_menu
        display: flex
        justify-content: center
        align-items: center
        list-style: none
        gap: 15px
        font-size: 1.2rem
        a
            text-decoration: none
            padding: 0 10px
            border-radius: 5px
            color: variaveis.$black_basico
            &:hover
                background-color: variaveis.$nav_hover
                visibility: visible
                transform: scaleX(1)

.nav_toggle
    cursor: pointer
    display: none

.nav_toggle div
    width: 32px
    height: 4px
    margin-top: 8px
    border-radius: 5px
    background-color: variaveis.$black_basico

.main_section
    width: 60%
    margin: auto
    display: flex
    .container_post
        width: 70%
        p
            width: 80%
            text-align: justify
            font-size: 1.2em

        .main_post
            margin-top: 20px
            h1
                border-bottom: 2px solid variaveis.$border_bottom
                width: 60%

            a
                text-decoration: none
                color: variaveis.$nav_hover
                font-size: 1.2em
    .right_side
        background-color: variaveis.$bg_color
        height: 60vh
        margin-top: 50px
        -webkit-box-shadow: 2px 8px 18px 1px #797676
        box-shadow: 0px 2px 14px 1px #797676

        .side_noticias, .side_categorias
            margin-top: 20px
            display: flex
            flex-direction: column
            align-items: center
        .side_noticias
            h2
                border-bottom: 2px solid variaveis.$border_bottom
                width: 50%
                text-align: center

            p
                width: 90%
                a
                    text-decoration: none
                    color: variaveis.$nav_hover
                    font-size: 1.2em
        .side_categorias
            h2
                border-bottom: 2px solid variaveis.$border_bottom
                width: 50%
                text-align: center
            ul
                list-style: none
                width: 100%
            li
                width: 100%
                display: flex
                flex-direction: column
                align-items: center
                border-bottom: 2px solid variaveis.$menu_border
            a
                text-decoration: none
                color: variaveis.$black_basico
                font-size: 1.5em

footer
    height: 8vh
    display: flex
    justify-content: center
    margin-top: 50px
    align-items: center
    background-color: variaveis.$bg_color

@media screen and (max-width:768px)
    .nav_menu
        flex-direction: column
        position: absolute
        top: 14vh
        right: 0
        width: 100%
        height: 0
        visibility: hidden
        background-color: variaveis.$main_color
        transition: .4s ease-in-out
        overflow: hidden
        li
            border-bottom: 2px solid variaveis.$menu_border
            width: 100%
            display: flex
            justify-content: center
            padding-bottom: .4em
    .nav_toggle
        display: block
    .menu_open
        visibility: visible
        height: 32vh

    .main_section
        width: 100%

        .container_post
            width: 100%
        .main_post
            display: flex
            flex-direction: column
            align-items: center
            width: 100%
            h1
                text-align: center
            p
                width: 90%
                text-align: justify
            img
                width: 100%
    .right_side
        display: none
