* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
}

.nav_container {
  min-height: 15vh;
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  background-image: url("../img/fundo.png");
  -webkit-box-shadow: 0px 10px 17px -3px #000000;
  box-shadow: 0px 10px 17px -3px #000000;
}

.nav {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav h1 {
  text-transform: uppercase;
  font-size: 35px;
  color: white;
  font-weight: bold;
}
.nav span {
  color: #d66f00;
  text-transform: uppercase;
  margin-left: 10px;
  font-size: 25px;
  font-weight: bold;
}

.navMenu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 10px;
  overflow: hidden;
}
.navMenu li {
  padding: 5px;
}
.navMenu a {
  color: #d66f00;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}
.navMenu a:hover {
  color: #362411;
  background-color: #d66f00;
}

.navToggle div {
  width: 32px;
  height: 4px;
  margin: 8px;
  background-color: #fff;
}

.navToggle {
  background-color: transparent;
  border: none;
  display: none;
}

.container {
  width: 70%;
  margin: auto;
  margin-top: 2px;
  display: flex;
}
.container img {
  margin-left: 20px;
}

.main_conteudo {
  width: 60%;
}

.container_colunas {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
}
.container_colunas .coluna_direita, .container_colunas .coluna_esquerda {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container_colunas .coluna_direita div, .container_colunas .coluna_esquerda div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}
.container_colunas .coluna_direita div h2, .container_colunas .coluna_esquerda div h2 {
  padding-bottom: 15px;
  color: #362411;
}
.container_colunas .coluna_direita div a, .container_colunas .coluna_esquerda div a {
  color: #B45F04;
}
.container_colunas .coluna_direita div p, .container_colunas .coluna_esquerda div p {
  text-align: justify;
}

.right_aside {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right_aside .visita {
  margin-top: 20px;
  width: 320px;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #CF8A40;
}
.right_aside .visita input[type=submit] {
  height: 30px;
  border: none;
  margin-top: 10px;
  width: 100%;
  padding: 5px;
  color: #fff;
  background-color: #82734e;
  cursor: pointer;
}
.right_aside .galeria {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.right_aside .galeria div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.right_aside .galeria img {
  margin-left: 2px;
  margin-top: 3px;
}
.right_aside .galeria a {
  background: url(../img/fundo-foto.png) no-repeat;
  padding: 17px 15px 18px 15px;
  margin: 10px 0 0 20px;
  align-self: center;
}

.rodape {
  min-height: 15vh;
  background-color: #C1823E;
  margin-top: 50px;
  display: flex;
  widows: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .nav {
    width: 100%;
  }
  .navToggle {
    display: block;
  }
  .navMenu {
    flex-direction: column;
    position: absolute;
    top: 15vh;
    right: 0;
    height: 0;
    width: 100%;
    visibility: hidden;
    transition: 0.4s;
    background-image: url("../img/fundo.png");
  }
  .navMenuOpen {
    visibility: visible;
    height: 230px;
  }
  .container {
    width: 100%;
  }
  .container .container_colunas {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .container .container_colunas .coluna_direita, .container .container_colunas .coluna_esquerda {
    width: 90%;
  }
  .container .container_colunas .coluna_direita h2, .container .container_colunas .coluna_esquerda h2 {
    font-size: 1em;
  }
  .right_aside {
    display: none;
  }
  .main_conteudo {
    width: 100%;
  }
  .main_conteudo img {
    width: 100%;
    margin: 0;
  }
  .rodape {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
